extends layout

block content
	div(class="ui inverted vertical masthead center aligned segment")
		div(class="ui container")
			div(class=".ui.secondary.inverted.pointing.menu")
				div(class="left item")
					h1 IN THE BUILDING
				div(class="right item")
					a(href="/#", class="ui inverted button") Account
					a(href="/signout", class="ui inverted button") Log out
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-0
				#user
					h1.text-center.login-title Welcome #{user.firstname}. Check your details below:
						div.signup-wall
							ul.user-details
								li Email    ---> #{user.email}
								li First Name ---> #{user.firstname} 
								li Last Name ---> #{user.lastname}
								li Location ---> #{user.location}
						a(href='/signout', class='text-center new-account') Sign Out
			div.col-sm-6.col-md-4.col-md-offset-0
				button(id='helpmeout' class='btn btn-lg btn-primary btn-block', type='submit') HELP ME OUT
				div.postbox(style='display: none;')
					form(class='form-signin', action='/post', method='POST')
						textarea(type='text', name='body' class='form-control', rows="5", placeholder='I am looking for someone who can help me with ...',required, autofocus)
						h5 Location:
						input(type='location', name='location' class='form-control', placeholder=user.location , required)
						button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
				
				each post in posts		
					div.signup-wall
						p=post.time
						p=post.location
						p=post.body
						p=post.coworker.dataValues.firstname

					p(class="hello")
						b Leave a comment
						div.comment(style='display:none')
							textarea(type='text', name='body' class='form-control', rows="5", placeholder='Leave a comment',required, autofocus)

				