extends layout

block content
	div(class="ui inverted vertical masthead center aligned segment")
		div(class="ui container")
			div(class=".ui.secondary.inverted.pointing.menu")
				div.left.item
					h1 IN THE BUILDING
				div.right.item
					a(href="/#", class="ui inverted button") Account
					a(href="/signout", class="ui inverted button") Log out
			.div
			div.ui.middle.aligned.stackable.grid.container
				.row
					.four.wide.column
					.four.wide.column
						.ui.inverted.accordion
							.title
								button.ui.inverted.button HELP ME OUT
								//- i.dropdown.icon
								//- |       HELP ME OUT	
							.content
								form.ui.form(action='/post', method='POST')
									.field
										textarea(type='text', name='body', rows="8", placeholder='I am looking for someone who can help me with ...',required, autofocus)
									.field.inverted 
									label Location:
										input.ui.input(type='location', name='location', placeholder=user.location , required)
									button.ui.inverted.button(type='submit') Submit
							.my-content-class
								each post in posts	
									.signup-wall
										p=post.coworker.dataValues.firstname
										p=post.time
										p=post.location
										p=post.body
										.hello
											b Leave a comment
											.comment(style='display:none')
											form.ui.form(action='/comment', method='POST')
											.field
												textarea(type='text', name='body', rows="5", placeholder='Leave a comment',required, autofocus)
												button.ui.inverted.button(type='submit') Submit
					.four.wide.column.double
						.segment.one
							.logo
								i.instagram.icon
							.content
								.instaphoto
						.segment.two
							.logo
								i.twitter.icon
								a.twitter-hashtag-button(href='https://twitter.com/intent/tweet?button_hashtag=BAmsterdam', data-show-count='false') Tweet #BAmsterdam
								script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
							a.twitter-timeline(href='https://twitter.com/search?q=%23BAmsterdam%20OR%20%40B_Amsterdam', data-widget-id='750423133094551552',data-chrome="noheader nofooter transparent",data-limit-tweet="50") Tweets over #BAmsterdam
							script.
								!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs")
        

					p(class="hello")
						div.comment(style='display:none')
							textarea(type='text', name='body' class='form-control', rows="5", placeholder='Leave a comment',required, autofocus)