extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-0
				#user
					h1.text-center.login-title Welcome #{user.firstname}. Check your details below:
						div.signup-wall
							ul.user-details
								li Email    ---> #{user.email}
								li First Name ---> #{user.firstname} 
								li Last Name ---> #{user.lastname}
								li Location ---> #{user.location}
						a(href='/signout', class='text-center new-account') Sign Out
			div.col-sm-6.col-md-4.col-md-offset-0
				button(id='helpmeout' class='btn btn-lg btn-primary btn-block', type='submit') HELP ME OUT
				div.postbox(style='display: none;')
					form(class='form-signin', action='/post', method='POST')
						textarea(type='text', name='body' class='form-control', rows="5", placeholder='I am looking for someone who can help me with ...',required, autofocus)
						h5 Location:
						input(type='location', name='location' class='form-control', placeholder=user.location , required)
						button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
				
				each post in posts		
					div.signup-wall
						p(style='display:none' class='id')=post.id
						p=post.time
						p=post.location
						p=post.body
						p=post.coworker.dataValues.firstname
						p(class="hello")
							a(href='#')
								b Leave a comment

								div.comment()
								form(class='form-signin', action='/comment', method='POST')
									textarea(type='text', name='comment' class='form-control', rows="5", placeholder='Leave a comment')
									input#postid.form-control(type="hidden", name="postid", value=post.id)
									button(class='btn btn-lg btn-primary btn-block', type='submit') Submit

				